
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: '微軟正黑體', 'Arial';
    letter-spacing: 2px;
}

.transition {
    transition: all .5s;
}

.btn:focus {
    /*取消bootstrap預設*/
    /*outline: none;*/
    box-shadow: none;
}

ol, ul, li {
    list-style: none;
}

h1 {
    font-size: 50px;
}

.aColorFFF {
    color: #fff;
}

.aColorFFF:hover {
    color: #0dc5b9;
}

.pColorGreen {
    color: #0dc5b9;
}

.pColorBlack {
    color: #000;
}

/*----------section welcome----------*/
section.welcome {
    background: url("https://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1500,w_2000,f_auto,q_auto/v1/1/photo-1456086272160-b28b0645b729_jljvrz.jpg") no-repeat 50% 50% fixed;
    height: 80vh;
    background-size: cover;
    position: relative;
}

.welcome:before {
    background: rgba(0, 0, 0, .39);
    content: "";
    display: block;
    height: 80vh;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    width: 100%;
}

/*---header---*/

/*---Logo & infor---*/
p.welText {
    font-size: 20px;
}

.shopNow {
    padding: 20px 30px;
    border: 2px solid #ffffff;
    color: #fff;
    font-size: 20px;
}

.shopNow:hover {
    color: #0dc5b9;
    background-color: hsla(0, 0%, 100%, .1);
    border-color: #0dc5b9;
}

/*---decoration 下面裝飾條---*/
.decoration {
    display: flex;
    height: 25px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.decorationL {
    width: 50%;
    border: 25px solid #0dc5b9;
    border-top: none;
    border-right-color: transparent;
}

.decorationR {
    width: 50%;
    border: 25px solid #0dc5b9;
    border-top: none;
    border-left-color: transparent;
}

/*----------section about----------*/
section.about {
    /*height: 60vh;*/
    background: #0dc5b9;
    padding: 80px 0;
}

/*----------section shop----------*/
section.shop {
    padding: 60px 0 20px 0;
}

.shopTitle h2 {
    color: #000;
}

.shopTitle p {
    color: #0dc5b9;
}

.productBox {
    border: 1px solid rgba(0, 0, 0, .3);
}

.productInfor > h5 {
    color: #000;
    text-align: justify;
    font-size: 18px;
}

.productInfor > span {
    display: block;
    color: #0dc5b9;
    padding: 0 0 10px 0;
    font-size: 18px;
}

.productInfor > p {
    color: #666;
    font-size: 14px;
}

.quantity {
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
}

.floatL > i {
    padding: 0 10px;
    text-align: right;
    color: #666;
    font-size: 20px;
}

.quantity > label {
    margin: 0;
    color: #666;
    font-size: 16px;
}

.floatL > input {
    font-size: 20px;
    color: #666;
    width: 60px;
    border: none;
}

.addCart {
    width: 100%;
    background-color: #0dc5b9;
    color: #fff;
    letter-spacing: 3px;
}

.addCart:hover {
    color: #fff;
    background-color: #0d9f93;
}

.productBottomBox {
    border: none;
    background-color: #ffffff;
}

/*----------section contact----------*/
section.contact {
    background: url("../images/contactbg.webp") no-repeat 50% 50% fixed;
    background-size: cover;
    position: relative;
    padding: 50px 0;

}

.contact:before {
    background: rgba(9, 10, 12, .4);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    width: 100%;
}

.contactText > p, .contactText > h2 {
    position: relative;
    line-height: 36px;
}

/*----------footer----------*/
footer {
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px;
    color: #666666;
}

/*----------*/
.fixCartBtn {
    background: #0ed9cc;
    border-radius: 100px;
    cursor: pointer;
    height: 44px;
    line-height: 40px;
    overflow: hidden;
    padding: 2px 17px;
    position: fixed;
    right: 20px;
    text-align: center;
    top: 20px;
    z-index: 220;
}

.fixCartBtnBox > i {
    padding-right: 8px;
}

.fixCartBtnBox > span {
    padding-right: 5px;
}

.asideList {
    background: rgba(255, 255, 255, 0.5);
    width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    /*right: 0;*/
    right: -400px;
    z-index: 10;
}





