
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: '微軟正黑體', 'Arial';
}

ol, ul, li {
    list-style: none;
}

h1 {
    font-size: 50px;
}

.aColorFFF {
    color: #fff;
}

.aColorFFF:hover {
    color: #0dc5b9;
}
.pColorGreen{
    color:#0dc5b9;
}
.pColorBlack{
    color:#000;
}
/*----------section welcome----------*/
section.welcome {
    background: url("https://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1500,w_2000,f_auto,q_auto/v1/1/photo-1456086272160-b28b0645b729_jljvrz.jpg") no-repeat 50% 50% fixed;
    height: 80vh;
    background-size: cover;
    position: relative;
}

.welcome:before {
    background: rgba(0, 0, 0, .39);
    content: "";
    display: block;
    height: 80vh;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    width: 100%;
}

/*---header---*/

/*---Logo & infor---*/
p.welText {
    font-size: 20px;
}

.shopNow {
    padding: 20px 30px;
    border: 2px solid #ffffff;
    color: #fff;
    font-size: 20px;
}

.shopNow:hover {
    color: #0dc5b9;
    background-color: hsla(0, 0%, 100%, .1);
    border-color: #0dc5b9;
}

/*---decoration 下面裝飾條---*/
.decoration {
    display: flex;
    height: 25px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.decorationL {
    width: 50%;
    border: 25px solid #0dc5b9;
    border-top: none;
    border-right-color: transparent;
}

.decorationR {
    width: 50%;
    border: 25px solid #0dc5b9;
    border-top: none;
    border-left-color: transparent;
}

/*----------section about----------*/
section.about {
    /*height: 60vh;*/
    background: #0dc5b9;
    padding: 80px 0;
}

/*----------section shop----------*/
section.shop {
    padding:80px 0;
}

.shopTitle h2 {
    color: #000;
}

.shopTitle p {
    color: #0dc5b9;
}













